body {
     margin: 0;
    padding: 0;
    overflow: hidden;
    /* Thay 'png.png' bằng tên file ảnh của bạn */
    background: url('png.png') no-repeat center center fixed; 
    background-size: cover; /* Để ảnh phủ kín toàn bộ màn hình */
}

/* Lớp phủ làm tối ảnh nền để chữ "Click to Start" nổi bật hơn */
#dark-overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Chỉnh 0.3 lên cao hơn nếu muốn nền tối hơn */
    z-index: 1;
}

#start-overlay {
    z-index: 99999 !important;
    position: relative;
    pointer-events: :auto !important;
}
#canvas-container {
    pointer-events: none !important;
    display: none !important;
}